.git
.gitignore
.env
doc/.env
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
htmlcov/
.coverage
*.egg-info/
dist/
build/
dump.log
*.log
.vscode/
.idea/
doc/
tests/
Makefile
README.md
.dockerignore
Dockerfile
Dockerfile.ui
docker-compose.yml
